*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home, .blog, .nosotros, .blog-detalle, .productos, .detalleProduct, .card, footer, .detalleProducto{
    background-image: url(../../img/texturas/granulado.svg);
}

.navBar{
    background-color: #f4f4f4;
}

h1{
    font-family: 'Gayathri', sans-serif;
}

div div .carousel.slide .carousel-inner .carousel-caption {
    bottom: 18.25rem;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #341333;
    text-align: left;
    width: 34%;
}

div div .carousel.slide .carousel-inner .carousel-caption h2{
    font-family: 'Gayathri', sans-serif;   
    font-size: 58px;
}

div div .carousel.slide .carousel-inner .carousel-caption p{
    font-size: 20px;
    margin-top: 20px;    
    margin-bottom: 20px;
    width: 60%;
}

div div .carousel.slide .carousel-inner .carousel-caption p span{
    font-weight: bold;
}

div div .carousel.slide .carousel-inner .carousel-caption a{
    text-decoration: none;
    color: #310030;
    transition: background-color 0.3s ease, color 0.3s ease;
    border: 1px solid;
    display: flex;
    padding: 10px;
    align-items: center;
    width: 112px;
    justify-content: center;
    font-size: 16px;
    font-family: 'Gayathri', sans-serif;    
    border-radius: 8px;
}

nav .container .navbar-toggler{
    border: none;
}

div div .carousel.slide .carousel-inner .carousel-caption a:hover{
    background-color: #310030;
    color: white;
    border: #000000;
}

section div .img2{
    margin-left: -166px;
}

section div .img3{
    margin-right: -166px;
    z-index: 1;
}

section div.info2{
    display: flex;
    align-items: center;
}

section div.info3{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-top: 14%;
}

.info{
    margin-top: 15%;
    margin-left: 150px;
    margin-right: 150px;
}

section div.info2 div,
section div.info3 div{
    padding: 50px;
}

section div.info2 div p,
section div.info3 div p{
    margin-top: 28px;
    margin-bottom: 28px;
}


section div.info2 div h2,
section div.info3 div h2{
    font-family: 'Gayathri', sans-serif;
}

section div.info2 div a,
section div.info3 div a{
    text-decoration: none;
    color: #b988b8;
    border: 1px solid;
    display: flex;
    padding: 10px;
    align-items: center;
    width: 112px;
    justify-content: center;
    font-size: 16px;
    font-family: 'Gayathri', sans-serif;   
     transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 8px;
}

section div.info2 div a:hover,
section div.info3 div a:hover{
    background-color: #b988b8;
    color: #000;
}

.productsHome,
.clientes{
    margin-top: 15%;
}

.productsHome h2,
.clientes h2,
.contact h2{
    text-align: center;
    font-family: 'Gayathri', sans-serif;}

.productsHome .card-group .card{
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px;
}

.productsHome .card-group .card .card-body .card-title{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
}



.clientes .opiniones div .stars{
    background-image: url(../img/icons/star-solid.svg);
    width: 182px;
    height: 32px;
    background-repeat-y: no-repeat;
    background-size: contain;
    margin-bottom: 20px;
}

.clientes .opiniones{
    display: flex;
    padding: 70px;
    flex-wrap: wrap;
}

.clientes .opiniones div{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 576px;
    flex-wrap: wrap;
}

.clientes .opiniones div p{
    padding-right: 61px;
    padding-left: 61px;
}

.contact p{
    text-align: center;
}

.contact form{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-left: 30%;
}

.contact form label{
    font-family: 'Gayathri', sans-serif;    
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.contact form textarea{
    resize: none;
}

.contact form textarea:focus{
    border: 1px #954d93;
}

.contact form button{
    text-decoration: none;
    color: #ffffff;
    background-color: #954d93;
    border: 1px solid;
    display: flex;
    padding: 10px;
    align-items: center;
    width: 112px;
    justify-content: center;
    font-size: 16px;
    font-family: 'Gayathri', sans-serif;    
    margin-top: 20px;
    border-radius: 8px;
}

.contact{
    margin-top: 15%;
}

/* CSS DE FOOTER Y NAV  */

footer{
    padding: 240px;
}

footer .logo{
    background-image: url(../img/icons/depily_logo.svg);
    height: 140px;
    background-repeat: no-repeat;
}

footer .redes i{
    margin: 20px;
    font-size: 22px;
    color: #7b7a7a;
}

footer .map{
    display: flex;
    margin-top: 40px;
}

footer .map div:last-child{
    margin-left: 120px;
}

footer .map div h2{
    font-family: 'Gayathri', sans-serif;    
    margin-bottom: 30px;
    margin-top: 30px;
    font-size: 22px;
}

footer .map div ul{
    list-style: none;
    padding-left: 0;
}

footer .map div ul li{
    margin-bottom: 30px;

}

footer .map div ul li a {
    color: #000;
    text-decoration: none;
}

footer p{
    color: #7b7a7a;
    font-size: 12px;
    margin-top: 40px;
}

nav .container div .navbar-nav{
    display: flex;
    align-items: center;
    margin-left: 16%;
    width: auto;
    justify-content: center;
}

nav .container div .navbar-nav .navbar-brand{
    background-image: url(../img/icons/logo-destok.svg);
    height: 62px;
    width: 124px;
    background-size: cover;
    background-repeat: no-repeat;
}

nav .container div .navbar-nav a{
    text-decoration: none;
    color: #000;
    margin-left: 80px;
    font-family: 'Gayathri', sans-serif;    
    font-weight: 500;
    font-variant: 1;
    font-size: 18px;
}

/**Sección Nosotros**/

.seccion-portada-nosotros{
    background-image: url(../../public/img/nosotros/depily-nosotros.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.portada-nosotros h1 {
    font-size: 100px;
    margin-bottom: 20px;
    color: #fff;
}

.depily-nosotros{
    display: none;
    visibility: hidden;
}

.portada-nosotros p {
    margin-bottom: 15px;
}

.portada-nosotros span {
    font-style: italic;
    letter-spacing: 0.1em;
    margin-top: 15px;
    font-family: 'Gayathri', sans-serif;
}

.portada-nosotros .fase-portada-nosotros {
    font-size: 20px;
    margin-top: 25px;
}

.descripcion-nosotros{
    margin-top: 100px;

}

.nosotros .valores-empresa{
    margin-top: 100px;
}

.texto-nosotros > h2 > span {
    font-family: 'Gayathri', sans-serif;
}

.nosotros .descripcion-nosotros div div div .texto-nosotros{
    height: 100%;
}


/* ------------SEC PRODUCTOS------------------- */
.seccion-portada-productos{
    background-image: url(../../public/img/portada-productos.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.portada-productos h1 {
    font-size: 68px;
    margin-bottom: 20px;
    margin-top: 126px;
    color: #fff;
    width: 20px;
    margin-left: 530px;
}

.btn-productos {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f4f4f4;
    color: #996998;
    text-decoration: none;
    border-radius: 8px;
    border: 2px solid #996998;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-top: 32px;
    display: flex;
    align-items: center;
    width: 128px;
}

.btn-productos ion-icon{
    margin-left: 12px;
}

.btn-productos:hover {
    background-color: #996998;
    color: #ffffff;
}

.productos > div{
    width: 100%;
}

.productos > div .col{
    padding-top: 200px;
    padding-left: 200px;
    padding-right: 200px;
}

.productos > div .card{
    border: none;
    box-shadow: 0 0 10px rgb(0 0 0 / 11%);
    border-radius: 8px;
}

.productos > div div div div .card-title{
    font-family: 'Quicksand', sans-serif;
}

.productos > div div div .card-body{
    margin-top: 32px;
    color: #996998;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

/* .productos > div div div div a {
    display: flex;
    align-items: center;
    margin-left: 15%;
    color: #4f324f;
    margin-top: 30px;
    font-family: 'Gayathri', sans-serif;}

.productos > div div div div a ion-icon{
    margin-left: 13px;
} */


.detalle-producto-container {
    display: flex;
    flex-direction: column;
  }
  
  .producto-info {
    margin-bottom: 20px;
  }
  
  .carrusel-container {
    display: flex;
    flex-direction: column;
  }
  
  .imagen-carrusel {
    order: -1;
  }

.detalleProduct .tipo-cliente{
    display: flex;
}

.detalleProduct .tipo-cliente button:first-child{
    margin-right: 22px;
}

.detalleProduct .tipo-cliente button.active{
    background-color: #341333;
    color: white;
}

.detalleProduct{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 4%;
}

.detalleProduct .imagenes{
    width: 50%;
}

.detalleProduct .infoProduct{
    margin-top: 62px;
    margin-left: 10%;
}

.detalleProduct .infoProduct h1{
    color: #996998;
}

.detalleProduct .infoProduct p.contacto-profesional{
    margin-top: 60px;
}

.detalleProduct .infoProduct p.contacto-profesional a{
    text-decoration: underline;
    cursor: pointer;
}

.detalleProduct .infoProduct p{
    font-family: 'Quicksand', sans-serif;
    margin-top: 130px;
}

.imagenes .slick-slider .slick-prev:before, 
.imagenes .slick-slider .slick-next:before {
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: #bfbfbf;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.infoProduct button{
    text-decoration: none;
    color: #954d93;
    border: 1px solid;
    display: flex;
    padding: 10px;
    align-items: center;
    width: 264px;
    justify-content: center;
    font-size: 15px;
    font-family: 'Gayathri', sans-serif;    
    margin-top: 60px;
    border-radius: 8px;
}

.infoProduct label.primer-l{
    margin-top: 130px;
    font-family: 'Quicksand', sans-serif;
}

.infoProduct form{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    font-family: 'Quicksand', sans-serif;
}

.infoProduct form .form-correo{
    margin-top: 22px;
    background-color: #341333;
    color: white;
}

.infoProduct form textarea{
    resize: none;
    padding: 10px;
    margin-top: 10px;
}

.infoProduct a{
    display: flex;
    margin-top: 30px;
    align-items: center;
    color: #996998;
    font-family: 'Gayathri', sans-serif;
}

.infoProduct a ion-icon{
    margin-right: 10px;
}


/**BLOG**/

.btn-blog {
    display: inline-block;
    padding: 10px 20px;
    background-color: #996998;
    color: #ffffff;
    text-decoration: none;
    border-radius: 8px;
    border: 2px solid #996998;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-blog:hover {
    background-color: #ffffff;
    color: #996998;
}
.autor{
    font-family: 'Gayathri', sans-serif;    
    color: #b11cab;
}

.titulo-blog-detalle{
    font-family: 'Gayathri', sans-serif;    
    color: #996998;
    font-weight: bold;
}

.titulo-blog{
    font-family: 'Gayathri', sans-serif;    
    color: #996998;
    font-weight: bold;
    font-size: 30px;
}

.seccion-portada-blog{
    background-image: url(../../public/img/blog/portada-blog.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #341333;
}

.seccion-portada-blog h1{
    font-size: 90px;
}

.subtitulo-blog-detalle{
    font-family: 'Gayathri', sans-serif;       
    color: #996998;
    font-size: 25px;
}

.subtitulo-blog{
    font-family: 'Gayathri', sans-serif;    
    color: #996998;
    font-size: 25px;
}

.custom-card-minimal{
    box-shadow: 0 0 10px rgb(0 0 0 / 11%);
    border-radius: 8px;
}

.ultima-novedad{
    margin-top: 200px;
    margin-bottom: 200px;
}    

.custom-card-minimal .no-gutters .col-md-6{
    padding: 30px;
}


.custom-card-minimal .card-text{
    margin-top: 8px;
}

.custom-card-minimal .texto-blog  small{
    margin: 30px;
}

.row .blogs {
    margin-bottom: 8%;
}

p{
    font-family: 'Raleway', sans-serif;
    color: #000;
}

h3,
h4{
    font-family: 'Gayathri', sans-serif;
}

/* TODO MOBILE ABRIL PARTE DE PRODUCTOS-DETALLES Y HOME */

@media screen and (max-width: 1440px){
    div div .carousel.slide .carousel-inner .carousel-caption {
        bottom: 112px;
    }

    .productsHome .card-group .card{
        margin: 40px;
    }

    .clientes .opiniones div{
        width: 100%;
        margin: 40px;
    }

    .contact p {
        padding: 54px;
    }

    .contact form {
        width: 76%;
        margin-left: 12%;
    }

    .productos > div .col {
        padding: 120px;
    }
}

@media screen and (max-width: 1024px){
    nav .container div .navbar-nav{
        margin-left: 0;
    }

    div div .carousel.slide .carousel-inner .carousel-caption {
        bottom: 0;
        width: 43%;
        left: 134px;
        top: 140px;
    }

    div div .carousel.slide .carousel-inner .carousel-caption h2 {
        font-size: 32px;
    }
    div div .carousel.slide .carousel-inner .carousel-caption p{
        font-size: 16px;
    }

    /* div div .carousel.slide .carousel-inner .carousel-item {
        width: 146%;
    } */

    section div.info2,
    section div.info3{
        flex-direction: column;
    }
    section div.info3{
        margin-top: 50%;
    }

    section div .img2,
    section div .img3 {
        margin-top: -114px;
    }

    section div .img3 {
        margin-right: 152px;
    }

    .productsHome .card-group {
        flex-direction: column;
    }

    .productsHome, .clientes {
        margin-top: 40%;
    }

    .clientes .opiniones div{
        width: 100%;
    }
    .clientes .opiniones div {
        margin-bottom: 120px;
        margin-top: 10px;
    }

    .contact form {
        width: 76%;
        margin-left: 12%;
    }
    .contact{
        padding-bottom: 120px;
    }

    .contact p {
        padding: 20px;
    }

    footer {
        padding: 140px;
    }

    .productos div.row{
        margin-top: 10%;
    }

    .productos > div .col {
        padding: 40px;
    }

    .detalleProduct {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 4%;
    }

    .detalleProduct .imagenes {
        width: 96%;
    }

    .imagenes .galeria{
        width: 102%;
    }

    .imagenes div .slick-prev {
        left: 8px;
        z-index: 1;
    }

    .imagenes div .slick-next{
        right: -8px;
    }
}

@media screen and (max-width: 768px){
    section div.info2,
    section div.info3{
        flex-direction: column;
    }

    div div .carousel.slide .carousel-inner .carousel-caption {
        bottom: 0;
        width: 43%;
        left: 110px;
        top: 74px;
    }

    div div .carousel.slide .carousel-inner .carousel-caption h2 {
        font-size: 32px;
    }
    div div .carousel.slide .carousel-inner .carousel-caption p{
        font-size: 16px;
    }

    nav .container div .navbar-nav {
        display: flex;
        margin-left: 0;
        align-items: flex-start;
    }

    nav .container div .navbar-nav a {
        margin-left: 12px;
        margin-top: 40px;
        margin-bottom: 8px;
    }

    .info {
        margin-top: 40%;
        margin-left: 114px;
        margin-right: 24px;
    }

    section div.info3{
        margin-top: 50%;
    }

    section div .img2,
    section div .img3 {
        margin-top: -114px;
    }

    section div .img3 {
        margin-right: 152px;
    }

    section div.info2 div, section div.info3 div {
        padding: 14px;
        margin-right: 3%;
        width: 596px;
        right: 120px;
        margin-top: 28px;
    }

    .productsHome .card-group {
        flex-direction: column;
    }

    .productsHome, .clientes {
        margin-top: 40%;
    }
    .clientes .opiniones div{
        width: 100%;
    }
    .clientes .opiniones div {
        margin-bottom: 120px;
        margin-top: 10px;
    }

    .contact form {
        width: 76%;
        margin-left: 12%;
    }
    .contact{
        padding-bottom: 120px;
    }

    .contact p {
        padding: 20px;
    }

    footer{
        padding: 100px;
    }

    .portada-productos h1 {
        margin-left: 250px;
    }

    .productos div.row{
        margin-top: 10%;
    }

    .productos > div .col {
        padding: 20px;
    }

    .detalleProduct {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 4%;
    }

    .detalleProduct .imagenes {
        width: 96%;
    }

    .imagenes{
        margin-top: 20%;
    }

    .imagenes .galeria{
        width: 102%;
    }

    .imagenes div .slick-prev {
        left: 8px;
        z-index: 1;
    }

    .imagenes div .slick-next{
        right: -8px;
    }

    .detalleProduct .infoProduct {
        margin-right: 10%;
        margin-bottom: 120px;
    }
}

@media screen and (max-width: 425px){ 

    .carousel-inner {
        height: 24pc; /* Ajusta la altura según tus necesidades */
    }
    .carousel-item img {
        height: 24pc;
        object-fit: cover;
    }

    footer{
        padding: 30px;
    }

    .productsHome .card-group .card{
        margin: 0;
    }

    .carousel-inner {
        margin-top: 13%;
    }

    div div .carousel.slide .carousel-inner .carousel-caption h2 {
        font-size: 32px;
    }

    div div .carousel.slide .carousel-inner .carousel-caption h2:last-child{
        width: 50%;
    }
    div div .carousel.slide .carousel-inner .carousel-caption p{
        font-size: 16px;
    }

    div div .carousel.slide .carousel-inner .carousel-caption.car-2{
        top: 86px;
        width: 68%;
        height: 236px;
    }

    div div .carousel.slide .carousel-inner .carousel-caption.calentadorSlide{
        top: 35px;
        height: 315px;
        
    }

    div div .carousel.slide .carousel-inner .carousel-caption p.calentadorP{
        width: 90%;
    }

    div div .carousel.slide .carousel-inner .carousel-caption {
        bottom: 0;
        width: 50%;
        left: 60px;
        top: 78px;
        background: #e5dae582;
        height: 230px;
        border-radius: 13px;
        padding: 12px;
    }

    nav .container div .navbar-nav {
        display: flex;
        margin-left: 0;
        align-items: flex-start;
    }

    nav .container div .navbar-nav a {
        margin-left: 12px;
        margin-top: 40px;
        margin-bottom: 8px;
    }

    section div.info2,
    section div.info3{
        flex-direction: column;
    }

    .info {
        margin-top: 40%;
        margin-left: 114px;
        margin-right: 24px;
    }

    section div.info3{
        margin-top: 50%;
    }

    section div .img2,
    section div .img3 {
        margin-top: -114px;
    }

    section div .img3 {
        margin-right: 152px;
    }

    section div.info2 div, section div.info3 div {
        padding: 14px;
        margin-right: 43%;
        width: 328px;
        right: 120px;
        margin-top: 28px;
    }
    

    .productsHome, .clientes {
        margin-top: 40%;
    }

    .clientes .opiniones{
        padding: 30px 0 30px 0;
    }

    .clientes .opiniones div {
        margin-bottom: 120px;
        margin-top: 10px;
    }

    .clientes .opiniones div p{
        padding-right: 0;
        padding-left: 0;
    }


    .contact form {
        width: 76%;
        margin-left: 12%;
    }
    .contact{
        padding-bottom: 120px;
    }

    .contact p {
        padding: 20px;
    }

    .portada-productos h1 {
        font-size: 40px;
        width: 20px;
        margin-left: 150px;
    }
    .seccion-portada-productos {
        min-height: 44vh;
    }

    .productos > div .col {
        padding-top: 200px;
        padding-left: 24px;
        padding-right: 0;
    }

    .detalleProduct {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 4%;
    }

    .detalleProduct .imagenes {
        width: 96%;
    }

    .imagenes{
        margin-top: 20%;
    }

    .imagenes .galeria{
        width: 102%;
    }

    .imagenes div .slick-prev {
        left: 8px;
        z-index: 1;
    }

    .imagenes div .slick-next{
        right: -8px;
    }

    .detalleProduct .infoProduct {
        margin-right: 10%;
        margin-bottom: 120px;
    }

    .productos{
        margin-bottom: 120px;
    }

    .seccion-portada-blog{
        background-image: url(../../public/img/blog/portada-blog-mobile.jpg);
        min-height: 60vh;
    }

    .seccion-portada-blog h1{
        font-size: 40px;
    }

    .titulo-blog-detalle{
        padding-top: 20px;
    }

    .imgDepily{
        width: 250px;
        padding-top: 30px;
    }

    .seccion-portada-nosotros{
        background-image: url(../../public/img/nosotros/depily-nosotros-mobile.jpg);
        min-height: 60vh;
    }

    .ultima-novedad{
        margin-top: 50px;
        margin-bottom: 50px;
    }
}